nav {
  background-color: rgb(142, 140, 140);
}

.container {
  display: grid;
  align-content: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter
}

form {
  width: 600px;
  padding: 50px 25px 50px 25px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  align-content: center;
}

/* .container portfolio{
  width: 100%
} */

.portfolioCard {
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  padding: 0px;
  height: 50px;
}


/* .top {
  padding: 10px 16px 0px 0px;
}

.bottom {
  text-align: right;
  padding: 10px 0px 0px 16px;
}

#topLeftImage {
  margin: 0px 0px 0px 16px;
  padding: 0px 0px 10px 0px;
  align-items: center;
}

#bottomRightImage {
  margin: 0px 0px 0px 16px;
  padding: 10px 0px 0px 0px;
  align-items: center;
}

.card {
  margin: 50px;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.card-text-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}

.card-text-body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.card-body {
  padding: 10px 20px 30px 20px;
}

.media-body {
  color: black;
  font-size: small;
  vertical-align: center;
}

#laptop {
  padding: 0px 25px 0px 25px;
}



.logo {
  padding: 10px;
} */

/* about me queries */

/* @media (max-width: 525px) {
  #topLeftImage {
    width: 200px;
    height: 200px;
    padding: 0px;
  }
  #bottomRightImage {
    width: 200px;
    height: 200px;
    padding: 0px;
  }
  .top {
    font-size: x-small;
  }
  .bottom {
    font-size: x-small;
  }
} */

/* portfolio queries */

/* @media (max-width:400px) {
  .col-sm-6 {
    padding: 0px 43.5px 0px 43.5px !Important;
  }
  #imgOne {
    padding: 0px;
  }
} */

/* contact sheet queries */

/* @media (min-width:1000px) {
  .contactSheet {
    align-content: center;
  }
  #laptop {
    margin: 0 100px 25px 100px;
  }
}

@media (max-width:500px) {
  .contactSheet {
    width: auto;
    align-content: center;
  }
  #laptop {
    margin: 0 100px 25px 100px;
  }
} */

/* footer queries */

/* @media screen (max-width:500px) {
  .media {
    width: 300px;
    padding: 25px 12.5px 15px 12.5px;
    align-content: center
  }
} */