/* nav {
  background-color: rgb(142, 140, 140);
}

.container {
  display: grid;
  align-content: center;
}

#laptop {
  display: inline-block;
  width: auto;
  height: 350px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter
}

form {
  display: inline-block;
  width: 600px;
  padding: 50px 25px 50px 25px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

bottom {
  margin-top: 25px;
}

.portfolioCard {
  justify-content: center;
  align-content: center;
  margin: 10px;
} */

/*============= FOOTER =============*/

footer {
  background-color: #383838;
  padding: 1rem 2rem 3rem;
  margin-bottom: 0px;
}

footer p, footer a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  padding: 0;
  margin: 0 auto;
}

ul.social li {
  margin: 0 auto;
  padding: 0;
}

footer .svg-inline--fa {
  font-size: 2.3rem;
}

footer.sv-inline--fa:hover {
  color: rgba(177, 103, 206, 0.548)!important;
}

/*============= SOCKET =============*/

.socket {
  background-color: #222222;
  border-top: .1rem solid #4981b3;
}